<!DOCTYPE html>
<html lan="en">
  <head>
    <meta charset="utf-8">
    <title>Checkers</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <div>
      <div class="modalBackground">
        <div class="head"><h2>Checkers</h2></div>
        <form class="formBox" action="/register" method="POST">
          <h2>Register</h2>
          <label for="firstName">First Name:</label>
          <input type="text" id="firstName" name="firstName" required>
          <label for="lastName">Last Name:</label>
          <input type="text" id="lastName" name="lastName" required>
          <label for="userName">Username:</label>
          <input type="text" id="userName" name="userName" required>
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required>
            <div class="buttonGrid">
              <button type="submit">Register</button>
            <button onclick="window.location.href='/login'">Login</button>
            </div>
        </form>
      </div>
    </div>
  </body>
</html>